//
   Created by pavel on 17.03.15.

ion-view(title="Výsledky")
  ion-nav-buttons
    button.button(ng-controller="BackCtrl" ng-click="goBack()") Seznam lekci

  ion-content.padding
    h3.text-center Výsledky
    .list
      .a.item
        |Celkem
        span.badge.badge-calm {{lessonState.totalTotal()}}
      .a.item
        |Správně
        span.badge.badge-balanced {{lessonState.totalCorrect()}}
      .a.item
        | Špatně
        span.badge.badge-assertive {{lessonState.totalError()}}
      .a.item
        | Nevyplněno
        span.badge.badge-energized {{lessonState.totalEmpty()}}
      .a.item
        | Počet Nápověd
        span.badge.badge-dark {{lessonState.totallHints()}}

    button.button.button-block.button-assertive Odeslat
