//
   Created by pavel on 17.03.15.

ion-tabs.tabs-icon-top.tabs-positive
  ion-tab(title="Slovíčka" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/lesson")
    ion-nav-view(name="tab-lesson")
  ion-tab(title="Test" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/test")
    ion-nav-view(name="tab-test")
  ion-tab(title="Výsledky" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/results")
    ion-nav-view(name="tab-results")